.os-reg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.os-sbold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

body {
  color: #626262;
}

body input:focus, body button:focus, body textarea:focus {
  outline: none;
}

header {
  background: #f5f5f5 url(../img/hero-image.jpg) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 700px;
  height: 100vh;
}

.main-hat-row {
  margin-top: 5%;
}

.main-logo-border {
  border: 3px solid #706b73;
  width: 155px;
  height: 55px;
  text-align: center;
  line-height: 49px;
}

.main-logo-border p {
  font-size: 36px;
  color: #706b73;
}

.main-logo-border p span {
  color: #ff5c36;
}

.main-nav {
  text-align: right;
}

.main-nav a {
  width: 30px;
  height: 55px;
  position: relative;
  float: right;
}

.main-heading-row {
  text-align: center;
  margin-top: 5%;
}

.main-form-row {
  margin-top: 5%;
}

.main-form {
  background-color: #fff;
  padding: 35px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
          box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
}

.main-form p {
  font-size: 20px;
  text-align: center;
}

.main-form p span {
  color: #ff5c36;
}

.main-form input, .main-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #706b73;
  margin-top: 30px;
  font-size: 15px;
}

.main-form button {
  background-color: #ff5c36;
  border: none;
  padding: 15px 35px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.line {
  width: 30px;
  height: 4px;
  background-color: #706b73;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.line:before, .line:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 30px;
  height: 4px;
  background-color: #706b73;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.line:before {
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
}

.line:after {
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

h1 {
  font-size: 50px;
}

h1 + p {
  line-height: 25px;
  font-size: 16px;
  margin-top: 4%;
  padding: 0 20px;
}

h1 span {
  color: #ff7150;
}
