// Fonts
.os-reg
	font-family: 'Open Sans', sans-serif
	font-weight: 400

.os-sbold
	font-family: 'Open Sans', sans-serif
	font-weight: 600

// Base colors
$base-black: #706b73
$base-red: #ff5c36
$white: #fff
$black: #000
$base-text: #626262
$bg-gray: #f5f5f5
$base-heddings: #fc6744
$section-works: #fbfbfb

// Default
body
	@extend .os-reg
	color: $base-text
	input, button, textarea
		&:focus
			outline: none
h2
	@extend .os-sbold
	font-size: 50px
	text-align: center
	line-height: 45px
	span
		color: $base-heddings
	+ p
		text-align: center
		font-size: 16px
		line-height: 24px
		margin-bottom: 7%
section
	padding: 5% 0

// Header#MAIN
header
	background: $bg-gray url(../img/hero-image.jpg) no-repeat center center
	background-size: cover
	min-height: 700px
	height: 100vh
.main
	&-hat-row
		margin-top: 5%
	&-logo-border
		border: 3px solid $base-black
		width: 155px
		height: 55px
		text-align: center
		line-height: 49px
		p
			@extend .os-sbold
			font-size: 36px
			color: $base-black
			span
				color: $base-red
	&-nav
		text-align: right
		a
			width: 30px
			height: 55px
			position: relative
			float: right
	&-heading-row
		text-align: center
		margin-top: 5%
	&-form-row
		margin-top: 5%	
	&-form
		background-color: $white
		padding: 35px
		border-radius: 2px
		box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2)
		p
			.os-sbold
			font-size: 20px
			text-align: center
			span
				color: $base-red
		input, textarea
			width: 100%
			border: none
			border-bottom: 1px solid $base-black
			margin-top: 30px
			font-size: 15px
		button
			background-color: $base-red
			border: none
			padding: 15px 35px
			border-radius: 50px
			font-size: 16px
			color: $white
			display: block
			margin: 0 auto
			margin-top: 20px
			transition: all 0.2s
			span
				font-size: 22px
				display: inline-block
				vertical-align: middle
			&:hover
				box-shadow: 5px 10px 20px 0px rgba(20, 20, 21, 0.08)	
.line
	width: 30px
	height: 4px
	background-color: $base-black
	display: block
	position: absolute
	right: 0
	top: 50%  
	transform: translateY(-2px)
	border-radius: 5px
	&:before, &:after
		content: ""
		position: absolute
		right: 0
		top: 50%
		width: 30px
		height: 4px
		background-color: $base-black
		border-radius: 5px
	&:before
		transform: translateY(-8px) 
	&:after
		transform: translateY(4px)

h1
	@extend .os-sbold
	font-size: 50px
	+ p
		line-height: 25px
		font-size: 16px
		margin-top: 4%
		padding: 0 20px
	span
		color: $base-heddings

// Section#PROCESS
$process-box-item: #4eb2f7 #c049f8 #817eff #f74770
.process
	&-box
		width: 262px
		height: 263px
		box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21)
		padding: 50px 40px
		color: $white
		margin: 0 auto
		i.fa
			font-size: 50px
		h3
			@extend .os-sbold
			font-size: 20px
			line-height: 42px
		p
			font-size: 15px
			line-height: 22px
		i.fa-camera-retro
			transform: rotate(-18.453deg)
		button
			border: none
			border-radius: 27px
			background-color: $white
			box-shadow: 3px 5px 14px 0px rgba(20, 20, 21, 0.09)
			padding: 15px
			position: absolute
			left: 50%
			width: 80%
			margin-left: -40%
			bottom: -27.5px
			font-size: 16px
			line-height: 25px
			color: $black
			span
				width: 14px
				height: 1px
				margin-right: 10px
				background-color: rgba(#000,.4)
				display: inline-block
				vertical-align: middle
				&:before
					display: inline-block
					content:  ""
					width: 14px
					height: 1px
					background-color: rgba(#000,.4)
					position: absolute
					transform: rotate(90deg) translateY(7px)


@for $i from 1 through 4
  .process-box-item-#{$i}
    background-color: nth($process-box-item, $i)

// Section#WORKS
section#works
	background-color: $section-works
.works
	&-box
		width: 360px
		height: 360px
		background-color: $base-red
		margin: 0 auto 25px auto
		position: relative // Чтобы элемент внутри &-box с posa выравнивался относительно &-box, а не .col-lg-4
		img
			width: 100%
		&-signature
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(#000,.3)
			color: $white
			text-align: center
			display: flex
			justify-content: center
			align-items: center
			opacity: 0
			transition: all 0.7s
			&:hover
				opacity: 1
		&-sign
			p
				@extend .os-sbold
				font-size: 22px
			button
				border: none
				padding: 15px 35px
				border-radius: 50px
				background-color: lighten($base-red, 10%)

// Section#SERVICES
.services
	&-list
		list-style: none
		text-align: center
		&-item
			display: block
			width: 100px
			height: 100px
			margin: 5px auto
			background-color: darken($section-works, 3%)
			





		