// Fonts
.os-reg
	font-family: 'Open Sans', sans-serif
	font-weight: 400

.os-sbold
	font-family: 'Open Sans', sans-serif
	font-weight: 600

// Base colors
$base-black: #706b73
$base-red: #ff5c36
$white: #fff
$base-text: #626262
$bg-gray: #f5f5f5

// Default
body
	.os-reg
	color: $base-text
	input, button, textarea
		&:focus
			outline: none

// Header#MAIN
header
	background-color: $bg-gray
	min-height: 700px
	height: 100vh
.main
	&-hat-row
		margin-top: 5%
	&-logo-border
		border: 3px solid $base-black
		width: 155px
		height: 55px
		text-align: center
		line-height: 49px
		p
			.os-sbold
			font-size: 36px
			color: $base-black
			span
				color: $base-red
	&-nav
		text-align: right
		a
			width: 30px
			height: 55px
			position: relative
			float: right
	&-heading-row
		text-align: center
		margin-top: 5%
	&-form-row
		margin-top: 5%	
	&-form
		background-color: $white
		padding: 35px
		border-radius: 2px
		box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2)
		p
			.os-sbold
			font-size: 20px
			text-align: center
			span
				color: $base-red
		input, textarea
			width: 100%
			border: none
			border-bottom: 1px solid $base-black
			margin-top: 30px
			font-size: 15px
		button
			background-color: $base-red
			border: none
			padding: 15px 35px
			border-radius: 50px
			font-size: 16px
			color: $white
			display: block
			margin: 0 auto
			margin-top: 20px
.line
	width: 30px
	height: 4px
	background-color: $base-black
	display: block
	position: absolute
	right: 0
	top: 50%  
	transform: translateY(-2px)
	border-radius: 5px
	&:before, &:after
		content: ""
		position: absolute
		right: 0
		top: 50%
		width: 30px
		height: 4px
		background-color: $base-black
		border-radius: 5px
	&:before
		transform: translateY(-8px) 
	&:after
		transform: translateY(4px)

h1
	.os-sbold
	font-size: 50px
	+ p
		line-height: 25px
		font-size: 16px
		margin-top: 4%
		padding: 0 20px
	span
		color: lighten($base-red, 5%)

		